<p (click)="problem=(problem==1)?0:1">問題1</p>
<div *ngIf="problem==1">
	<h2>問題文</h2>
	<p>
	あみだくじがある．
	あみだくじは横に並ぶW本の平行な縦線と隣接する2つの縦線を繋ぐ横線によって構成される．
	それぞれの縦線の長さはH+1であり，横線の端点となれるのは整数値の点のみである．
	なお，横線の端点の高さは同じでなければならず，異なる横棒が同じ端点を共有することは出来ない．
	</p>
	<p>上記の条件が分からない場合は開催者に質問すること．</p>
	<p>左からK番目の縦線を縦線Kとする．
	縦線の数W，縦線の長さ(横線を追加できる高さの数)H，縦線の番号Kが与えられた時，縦線1の上から辿った場合に縦線Kの下にたどり着くような横線の引き方の通りの数を求めよ．
	ただし，答えは非常に大きくなる可能性があるため，1,000,000,007で割ったあまりを求めよ．</p>
	<h2>制約</h2>
	Kは1異常W以下の整数
	H,Wは1以上の整数であり以下の制約を満たす．
	<ul>
		<li>100点 H:5以下,W:6以下</li>
		<li>200点 H:100以下,W:8以下</li>
		<li>300点 H:100以下,W:100以下</li>
	</ul>
	<h2>入力</h2>
	H W K
	<h2>出力</h2>
	横線の引き方の通りの数を1,000,000,007で割ったあまり．
	<h2>サンプル</h2>
	<h3>入力</h3>
	1 3 2
	<h3>出力</h3>
	1
</div>

<p (click)="problem=(problem==2)?0:2">問題2</p>
<div *ngIf="problem==2">
	<h2>問題文</h2>
	<p>あなたは四次元ポケットを持っている．
	四次元ポケットには数値を格納することができ，
	好きなタイミングで数値を取り出すことが出来る．</p>
	<p>
	あなたは二人の友人を持っている．
	友人Aはあなたに数値を渡して四次元ポケットに入れる．
	友人Bは四次元ポケットに入っているX番目に小さい数を要求し取り出す．
	</p>
	<p>友人A，友人Bの来襲が与えられた時，友人Bが取り出した数値を全て出力せよ．ただし，四次元ポケットに同じ数値が入ることはない．</p>

	<h2>制約</h2>
	Q，Xはそれぞれ以下の制約を満たす1以上の整数．
	<ul>
		<li>100点 Q:100以下,X:100以下</li>
		<li>200点 Q:1,000以下,X:1,000以下</li>
		<li>300点 Q:200,000以下,X:200,000以下</li>
		<li>400点 Q:200,000以下,X:1,000,000,000,000,000以下</li>
	</ul>
	<h2>入力</h2>
	<div>Q</div>
	<div>T1 X1</div>
	<div>TQ XQ</div>
	Tt=1の場合，友人Aが来襲し，数値Xtが与えられる．
	Tt=2の場合，友人Bが来襲し，Xt番目に小さい値を取り出される(これを出力)．
	<h2>出力</h2>
	友人Bが取り出した数値を全て出力せよ．
	<h2>サンプル</h2>
	<h3>入力</h3>
	<div>5</div>
	<div>1 11</div>
	<div>1 29</div>
	<div>1 89</div>
	<div>2 2</div>
	<div>2 2</div>
	<h3>出力</h3>
	<div>29</div>
	<div>89</div>
</div>

<p (click)="problem=(problem==3)?0:3">問題3</p>
<div *ngIf="problem==3">
	<h2>問題文</h2>
	整数Aと整数Bが与えられる．かけ算をして答えを出力せよ．
	<h2>制約</h2>
	<ul>
		<li>100点 A:1,000以下,B:1,000以下</li>
		<li>200点 A:10,000,000以下,B:10,000,000以下</li>
		<li>300点 A:10^(10^3)以下,B:10^(10^3)以下</li>
		<li>400点 A:10^(10^7)以下,B:10^(10^7)以下</li>
	</ul>
	<h2>入力</h2>
	A B
	<h2>出力</h2>
	かけ算の答えを出力せよ．
	<h2>サンプル</h2>
	<h3>入力</h3>
	4 2
	<h3>出力</h3>
	8
</div>

<p (click)="problem=(problem==4)?0:4">問題4</p>
<div *ngIf="problem==4">
	<h2>問題文</h2>
	※時間足りなさそうなので消しました．
</div>

