
.selector span{
	padding:0.5em 2em;
	margin: 2em 0;	
	font-weight: bold;
	border: solid 3px #000000;
	background-color:#00EE66;
	transition: all 300ms 0s ease;
}

.selector :hover{
	background-color:#009966;
}
